<!--
File: app.component.html
Project: declinator
Copyright: This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<nb-layout>
  <nb-layout-header onclick="document.location='/'" fixed>
    Latin Declinator
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet>
    </router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <ul>
      <li>
        <a href="/impressum">Impressum & Datenschutzerklärung</a>
      </li>
      <li>
        <a href="https://github.com/just-dev-creator/angular-latin-declinator">
          <nb-icon icon="github-outline"></nb-icon>
        </a>
      </li>
    </ul>
  </nb-layout-footer>

</nb-layout>
